section {
  padding-top: 60px;
}

h2 {
  padding-top: 15px;
}

label {
  font-weight: bold;
}

code {
  color: #333;
  background: #FEE9CC;
}

.alert-nope {
  background-color: #d9d9d9;
  border-color: #ccc;
  color: #666;
}

tfoot {
  background: #fff;
}


.diff-table {
  border: 1px solid gray;
  border-spacing: 0;
  border-collapse: collapse;
}
.insert {
  background-color: #DFD;
}
.delete {
  background-color: #FDD; 
}
.etc {
  color: #999
}
pre.line {
  margin: 0;
  padding: 0;
  border: 0;
  background: inherit;
}

footer {
  clear: both;
  padding-top: 2em;
  color: #666;
  margin-bottom: 1em;
  text-align: center;
}

/* additional styles for codemirror textareas */
.CodeMirror {
  border: 1px solid #ccc;
  max-height: 600px;
  font-family: 'Bitstream Vera Sans Mono','Courier New',monospace;
  font-size: 12px;
}
.CodeMirror-gutter-text {
  background: #eee;
  color: #aaa;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}
