label {
  font-weight: bold;
}

code {
  color: #333;
  background: #FEE9CC;
}

footer {
  clear: both;
  padding-top: 2em;
  color: #666;
  margin-bottom: 1em;
  text-align: center;
}

/* additional styles for codemirror textareas */
.CodeMirror {
  border: 1px solid #ccc;
  max-height: 600px;
  font-family: 'Bitstream Vera Sans Mono','Courier New',monospace;
  font-size: 12px;
}
.CodeMirror-gutter-text {
  background: #eee;
  color: #aaa;
  border-right: 1px solid #ccc;
  padding-right: 5px;
}

