<h1>About</h1>
<p>
  <dl>
    [% proxy = settings.behind_proxy %]
    <dt>environment</dt>
        <dd>[% settings.environment %]</dd>
    <dt>current request from</dt>
        <dd>[% address %]</dd>
    <dt>request base</dt>
        <dd>[% request.base %][% IF proxy; THEN %] (behind proxy)[% END %]</dd>
    <dt>database</dt>
        <dd>[% settings.plugins.Database.database %] ([% settings.plugins.Database.driver %])</dd>
    <dt>appdir</dt>
        <dd>[% settings.appdir %]</dd>
  </dl>
</p>
