[% INCLUDE "admin-nav.tt" %]
<p>
  Der <em>aktuelle</em> Stand aller Änderungen kann unter
  <a href="[% uri_base %]/edit.json">[% uri_base %]/edit.json</a> und
  eine Liste aller gültigen Zugriffstokens unter 
  <a href="[% uri_base %]/admin/token.json">[% uri_base %]/admin/token.json</a>
  heruntergeladen werden. 
  <span class="label label-warning">Achtung</span> Die Tokens sollten 
  selbstverständlich nicht in falsche Hände gelangen!
</p>
