<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
  <title>picamodbot</title>

  <link rel="stylesheet" href="[% uri_base %]/css/bootstrap.css">
  <link rel="stylesheet" href="[% uri_base %]/css/codemirror.css">
  <link rel="stylesheet" href="[% uri_base %]/css/picatextarea.css">
  <link rel="stylesheet" href="[% uri_base %]/css/style.css" />

  <script type="text/javascript" src="[% uri_base %]/js/jquery-1.7.1.min.js"></script> 
  <script type="text/javascript" src="[% uri_base %]/js/bootstrap-alert.js"></script> 
  <script type="text/javascript" src="[% uri_base %]/js/bootstrap-collapse.js"></script> 
  <script type="text/javascript" src="[% uri_base %]/js/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="[% uri_base %]/js/codemirror.js"></script>
  <script type="text/javascript" src="[% uri_base %]/js/picatextarea.js"></script>
</head>
<body>
<div class="container">
<div class="page-header" id="top">
  <h1><a href="[% uri_base %]/">picamodbot</a>[% IF title %]: [% title %][% END %]</h1>
</div>
[% INCLUDE "messages.tt" %]
[% content %]
  <footer>
    Powered by <a href="http://perldancer.org/">Dancer</a> with
    <a href="http://template-toolkit.org/">TemplateToolkit</a>,
    <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, 
    <a href="http://gbv.github.com/picatextarea/">picatextarea</a>,
    <a href="http://search.cpan.org/dist/PICA-Record/">PICA::Record</a>
    and other Open Source components.
  </footer>
  [% dump %]
</div>
</body>
<script>
  $(function() {
	$(".alert-block").alert();
	$(".tablesorter").tablesorter({});
	$("a.btn-danger").click(function () { return confirm("Sure?!"); };
	$(".collapse").collapse();
  ); });
</script>
</html>
