<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
  <title>picamodbot</title>

  <link rel="stylesheet" href="[% uri_base %]/css/bootstrap.css">
  <link rel="stylesheet" href="[% uri_base %]/css/codemirror.css">
  <link rel="stylesheet" href="[% uri_base %]/css/picatextarea.css">
  <link rel="stylesheet" href="[% uri_base %]/css/tablesorter.css" />
  <link rel="stylesheet" href="[% uri_base %]/css/style.css" />

  <script type="text/javascript" src="[% uri_base %]/js/jquery-1.7.1.min.js"></script> 
  <script type="text/javascript" src="[% uri_base %]/js/bootstrap-alert.js"></script> 
  <script type="text/javascript" src="[% uri_base %]/js/bootstrap-collapse.js"></script> 
  <script type="text/javascript" src="[% uri_base %]/js/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="[% uri_base %]/js/codemirror.js"></script>
  <script type="text/javascript" src="[% uri_base %]/js/picatextarea.js"></script>
</head>
<body>
<div class="container">
<!-- navbar -->
<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container">
    <a class="brand" href="[% uri_base %]">picamodbot</a>
    <ul class="nav">
      <li[% IF request.path_info.match('^/$') %] class="active"[% END %]>
        <a href="[% base_uri %]/">Übersicht</a>
      </li>
      <li[% IF request.path_info.match('^/edit') %] class="active"[% END %]>
        <a href="[% base_uri %]/edit">Änderungen</a>
      </li>
      <li[% IF request.path_info.match('^/webapi') %] class="active"[% END %]>
        <a href="[% base_uri %]/webapi">API</a>
      </li>
      [% IF is_admin %]
        <li[% IF request.path_info.match('^/admin') %] class="active"[% END %]>
          <a href="[% base_uri %]/admin">Admin</a>
        </li>
      [% END %]
    </ul>
    <ul class="nav pull-right">
      [% env = settings.environment %]
      <li><span style="padding: 10px 10px 11px;  line-height: 19px;" class="badge [% 
        IF env=='development' %]badge-error[% ELSIF env=='deployment' 
        %]bade-warning[% END %]">[% env %]</span></li>
    </ul>
  </div>
 </div>
</div>
<!-- content -->
<section>
[% IF title %]<h1>[% title %]</h1>[% END %]
[% INCLUDE "messages.tt" %]
[% content %]
</section>
<!-- footer -->
<footer>
 <p> 
  Powered by <a href="http://perldancer.org/">Dancer</a> with
  <a href="http://template-toolkit.org/">TemplateToolkit</a>,
  <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, 
  <a href="http://gbv.github.com/picatextarea/">picatextarea</a>,
  <a href="http://search.cpan.org/dist/PICA-Record/">PICA::Record</a>
  and other Open Source components.
 </p>
 <p>
   Source code <a href="https://github.com/gbv/picamodbot">available at github</a>.
 </p>
</footer>
</div>
</body>
<script>
  $(function() {
	$(".alert-block").alert();
	$(".tablesorter").tablesorter({});
	$("a.btn-danger").click(function () { return confirm("Sure?!"); });
	$(".collapse").collapse();
  });
</script>
</html>
